<h1>Edit <%=link_to @item.name, item_path(@item) %></h1>

<center>
  <%= render partial: 'form', locals:{path: "/merchant_employee/merchants/#{@merchant.id}/items/#{@item.id}",
																			method: :patch,
																			button_text: 'Update Item',
																			name: "#{@item.name}",
																			description: "#{@item.description}",
																			price: "$#{@item.price}.00",
																			image: "#{@item.image}",
																			inventory: "#{@item.inventory}",
																			} %>
</center>
