<h1 align= "center">Create Merchant</h1>

<center>
  <%= render partial: 'form', locals:{path: '/merchants',
																			method: :post,
																			button_text: 'Create Merchant',
																			name: nil,
																			address: nil,
																			city: nil,
																			state: nil,
																			zip: nil
																		}%>
</center>
