<h1 align = "center">Order Info</h1>

<center>
  <table>
    <tr id="order_headers">
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Last Updated</th>
      <th>Order Status</th>
      <th>Items in Order</th>
      <th>Number of Items</th>
      <th>Order Grand Total</th>
    </tr>
  </table>
