<h1>Edit <%=link_to @item.name, "/items/#{@item.id}" %></h1>

<center>
  <%= render partial: 'form', locals:{path: "/items/#{@item.id}",
																			method: :patch,
																			button_text: 'Update Item',
																			name: "#{@item.name}",
																			description: "#{@item.description}",
																			price: "$#{@item.price}.00",
																			image: "#{@item.image}",
																			inventory: "#{@item.inventory}",
																			} %>
</center>
