<h1 align= "center">Create Review for <%= link_to @item.name, "/items/#{@item.id}" %></h1>
<center>
  <%= render partial: 'form', locals:{path: "/items/#{@item.id}/reviews",
																			method: :post,
																			button_text: 'Create Review',
																			title: nil,
																			content: nil,
																			rating: nil
																		}%>
</center>
